<%- include('templates/header') %>

<div class="container mt-5">
    <% if (session.authenticated) { %>
        <h1>Hello, <%= session.username %></h1>
        <a href="/members" class="btn btn-primary">Go To Members Area</a>
        <a href="/logout"  class="btn btn-secondary">Log Out</a>
    <% } else { %>
        <h1>Assignment 1</h1>
        <a href="/signup" class="btn btn-primary">Sign Up</a>
        <a href="/login"  class="btn btn-secondary">Log In</a>
    <% } %>
</div>

<%- include('templates/footer') %>