        </main>
        <footer class="bg-light py-3">
            <div class="container d-flex align-items-center">
                <span class="ms-4">&copy; 2025 Assignment 2</span>
                <a href="https://twitter.com"   class="text-dark me-3"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://instagram.com" class="text-dark me-3"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="https://facebook.com"  class="text-dark"><i class="fab fa-facebook fa-lg"></i></a>
            </div>
            </div>
        </footer>
    </body>
</html>